*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}
.first-bg{
    background: url('/public/image/first-bg.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}