*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-bg{
    background: url('/public/image/first-bg.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 30px;
}
.page-bg{
    background: url('/public/image/page-bg.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 30px;
}